// @import "./variables.scss";
@import "./reset.scss";
@import "./media.scss";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Variable.ttf);
  font-style: normal;
}

html,
body {
  min-height: 100vh;
  font-family: "Satoshi";
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-line {
  margin: 0 80px;
  background: #d9d9d9;
  height: 1px;
}

.base-line {
  margin-bottom: 20px;
  height: 1px;
  background: #000000;
}

.container {
  margin: 0 auto;
  width: 1280px;
}
