.btn-outline {
  width: inherit;
  display: flex;
  padding: 0 36px;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: #000000;
  border-radius: 4px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  transition: opacity 0.2s ease-in;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
.btn-outwhite {
  display: flex;
  padding: 12px 36px;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 200px;
  background: #151623;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  transition: opacity 0.2s ease-in;
  white-space: nowrap;
  &:hover {
    background: #9d9d9d;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
