.footer {
  background: var(--black, #000);
  color: #fff;
  padding: 70px 120px;
  display: flex;
  justify-content: space-between;
  &__title {
    h2 {
      font-size: 47px;
      font-weight: 900;
      padding-bottom: 30px;
    }
    h3 {
      font-size: 21px;
      font-weight: 900;
      padding-bottom: 20px;
    }
    p {
      color: #747474;
      font-size: 16px;
      width: 360px;
    }
  }
  &__links {
    display: flex;
    gap: 99px;
    &-menu {
      ul:before {
        content: attr(aria-label);
        font-size: 20px;
        font-weight: 700;
        line-height: 130%;
      }
      li {
        color: var(--paragraph, #999);
        font-size: 18px;
        line-height: 160%;
        list-style: none;
        padding-top: 16px;
      }
    }
    &-info {
      font-size: 20px;
      font-weight: 700;
      line-height: 130%;
      padding-bottom: 24px;
    }
  }
}
